@model Controle_Portaria.Models.Cadastro

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cadastro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
