@model IEnumerable<Controle_Portaria.Models.Cadastro>

@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLOCO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLACA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLOCO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLACA)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
